Makefile.local
data/data
data/cpu_power.sql
data/cpu_voltage.csv

*.sqlite?

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# kernel stuff
.*.tmp
.*.ko.cmd
.*.mod.o.cmd
.*.o.cmd
*.mod.c
.tmp_versions/
Module.symvers
modules.order

# backups
*~
*.sw?
